@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Hover Underline Animation */
.hover-underline {
    display: inline-block;
    position: relative;
}

.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #f50057, #d47f9d);
    transform-origin: bottom right;
    transition: transform 500ms ease-out;
}

.hover-underline:hover::before {
    transform: scale(1);
    transform-origin: bottom left;
}

/* Basic Sections */
section.basic {
    background-color: #302f2f;
    padding: 125px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

section.basic .container {
    width: 1000px;
}

section.basic .section-title {
    margin-bottom: 30px;
    font-size: 24px;
}

section.basic .section-title h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section.basic .section-title hr {
    margin-bottom: 20px;
    border: 0;
    height: 3px;
    background: linear-gradient(to right, #f50057, #d47f9d);
}

section.basic .section-title p a {
    color: #f50057;
    text-decoration: none;
}

section.basic .section-title p a::before {
    top: 0;
}

@media (max-width: 1000px) {
    section.basic .container {
        width: 95vw;
    }
}

/* Navigation Bar */
nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 70px;
    min-height: 10vh;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 10;
    transition: 500ms;
}

nav.scrolled {
    background-color: #272626;
    box-shadow: 0px 5px 8px #000;
}

.logo {
    height: 70%;
}

.logo img {
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

ul.nav-links {
    margin-top: 0;
    margin-bottom: 0;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    /* color: #da7b9c; */
    color: #f50057;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links li.active a, .nav-links a:hover {
    color: #f50057;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2.5px;
    background-color: #db96ae;
    margin: 5px;
}

@media screen and (max-width: 1100px) {
    .nav-links {
        width: 550px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        background-color: #dddcdc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
        width: 50%;
    }
    .nav-links li {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        background-color: #dddcdc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }
    .nav-links li {
        opacity: 0;
    }
}

.mobile-nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Hero */
#home {
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    font-family: "Montserrat", sans-serif;

}
  
@media (min-width: 992px) {
    #home {
      padding-left: 160px;
    }
}
  
#home h2 {
    margin: 0;
    font-size: 58px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

#home h2 div{
    color: #f50057;
    display: inline-block;
}
  
#home p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 26px;
}
  
#home p span {
    color: #f50057;
    border-right: 1px solid #f50057;
    letter-spacing: 1px;
}
  
#home .social-links {
    margin-top: 30px;
}
  
#home .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: transform 300ms;
}

#home .social-links a:hover {
    transform: scale(1.2);
    color: #f50057;
}
  
@media (max-width: 992px) {
    #home {
      text-align: center;
    }
    #home h2 {
      font-size: 50px;
      line-height: 36px;
    }
    #home p {
      margin-top: 25px;
      font-size: 20px;
      line-height: 24px;
    }
    #home .social-links a {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 645px) {
    #home {
        padding: 60px 10px;
    }

    #home h2 {
        font-size: 42px
    }
}

@media screen and (max-width: 420px) {
    #home h2 {
        font-size: 34px;
    }
    #home div.social-links {
        font-size: 18px;
    }
}


/* About */
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about .content img{
    width: 300px;
    height: auto;
}

#about .content p {
    margin: 0px;
    padding: 10px 30px;
    letter-spacing: 2px;
    line-height: 2rem;
}

@media (max-width: 768px) {
    #about .content {
        flex-direction: column;
    }
}

/* Projects */
#projects .container .row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#projects .row .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px !important;
    height: 350px !important;
    margin: 20px auto;
    padding: 30px 30px;
    border-radius: 10px;
    background-color: #272626;
    box-shadow: 5px 5px 8px #000;
}

.project .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.project .icon, .project .icon img {
    transition: filter 500ms linear;
    width: 100px;
    height: 100px;
}

.project .icon i {
    position: absolute;
    font-size: 36px;
    color: #f50057;
}

.project .content {
    margin-bottom: 20px;
}

.project .content a {
    color: #fff;
}

.project .content p {
    font-family: "Open Sans", sans-serif
    margin: 0px 5px;
}

.project .links i {
    color: #fff;
    font-size: 26px;
    margin: 0px 10px;
    transition: 300ms;
}

/* Project 1 */
#projects .row .project:nth-child(5n-4) .icon i {
    color: #f25f5c;
}
.project:nth-child(5n-4):hover img {
    filter: invert(42%) sepia(38%) saturate(963%) hue-rotate(313deg) brightness(110%) contrast(90%);
} 
.project:nth-child(5n-4) .links i:hover {
    color: #f25f5c;
    transform: scale(1.2);
} /* End of Project 1 */

/* Project 2 */
#projects .row .project:nth-child(5n-3) .icon i {
    color: #fa7921;
}
.project:nth-child(5n-3):hover img {
    filter: invert(59%) sepia(72%) saturate(3425%) hue-rotate(347deg) brightness(103%) contrast(96%);
}
.project:nth-child(5n-3) .links i:hover {
    color: #fa7921;
    transform: scale(1.2);
} /* End of Project 2 */

/* Project 3 */
#projects .row .project:nth-child(5n-2) .icon i {
    color: #fec601;
}
.project:nth-child(5n-2):hover img {
    filter: invert(82%) sepia(58%) saturate(3440%) hue-rotate(2deg) brightness(107%) contrast(99%);
}
.project:nth-child(5n-2) .links i:hover {
    color: #fec601;
    transform: scale(1.2);
} /* End of Project 3 */

/* Project 4 */
#projects .row .project:nth-child(5n-1) .icon i {
    color: #9bc53d;
}
.project:nth-child(5n-1):hover img {
    filter: invert(65%) sepia(12%) saturate(2169%) hue-rotate(37deg) brightness(111%) contrast(80%);
}
.project:nth-child(5n-1) .links i:hover {
    color: #9bc53d;
    transform: scale(1.2);
} /* End of Project 4 */

/* Project 5 */
#projects .row .project:nth-child(5n) .icon i {
    color: #5bc0eb;
}
.project:nth-child(5n):hover img {
    filter: invert(76%) sepia(5%) saturate(5862%) hue-rotate(167deg) brightness(95%) contrast(93%);
}
.project:nth-child(5n) .links i:hover {
    color: #5bc0eb;
    transform: scale(1.2);
} /* End of Project 5 */

.project .content h4 {
    margin-bottom: 20px;
}

.project:hover .icon i {
    color: #dbdbdb !important;
}

.project:hover h4::before {
    transform: scale(1);
    transform-origin: bottom left;
}

/* Work Section */
#work {
    box-sizing:border-box;
    font-family:"Raleway";
}

#work .content {
    display: flex;
    justify-content: center;
}

#work .content .tabs {
    margin: 5vh 0;
    width:90%;
    height:500px;
    padding:30px 20px;
    background:#f5f5f5;
    box-shadow:5px 5px 10px 5px #ccc;
    overflow:hidden;
    box-shadow: 5px 5px 8px #000;
}

#work .content .tab-header {
    float:left;
    width: 25%;
    height:100%;
    border-right:1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    white-space: nowrap;
}

#work .content .tab-header::-webkit-scrollbar {
    display: none;
}

#work .content .tab-header > div {
    height:20%;
    line-height:50px;
    font-size:16px;
    font-weight:600;
    color:#888;
    cursor:pointer;
    padding-left:10px;
    padding-right:10px;
}

#work .content .tab-header > div:hover,
#work .content .tab-header > div.active {
    color:#00acee;
}

#work .content .tab-header > div.active {
    border-right: 4px solid #00acee;

}

#work .content .tab-content {
    position:relative;
    height:100%;
    overflow:hidden;
    color: #212529;
}

#work .content .tab-content > div {
    position:absolute;
    text-align:center;
    padding:40px 20px;
    top:-200%;
    transition:all 500ms ease-in-out;
}

#work .content .tab-content > div.active {
    top:0px;
}