* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    height: 70px;
    min-height: 10vh;
    background-color: #dddcdc;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 10;
}

.logo {
    height: 70%;
}

.logo img {
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #da7b9c;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a.active, .nav-links a:hover {
    color: #f50057;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2.5px;
    background-color: #db96ae;
    margin: 5px;
}

@media screen and (max-width: 1100px) {
    .nav-links {
        width: 550px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        background-color: #262525;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        width: 50%;
    }
    .nav-links li {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .burger {
        display: block;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        background-color: #262525;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }
    .nav-links li {
        opacity: 0;
    }
}

.mobile-nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Hero */
#home {
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    font-family: "Montserrat", sans-serif;

}
  
@media (min-width: 992px) {
    #hero {
      padding-left: 160px;
    }
}
  
#home h1 {
    margin: 0;
    font-size: 58px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

#home h1  span{
    color: #f50057;
}
  
#home p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 26px;
}
  
#home p span {
    color: #f50057;
    border-right: 1px solid #f50057;
    letter-spacing: 1px;
}
  
#home .social-links {
    margin-top: 30px;
}
  
#home .social-links a {
    font-size: 24px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: transform 0.3s;
}
  
#home .social-links a:hover {
    transform: scale(1.2);
    color: #f50057;
}
  
@media (max-width: 992px) {
    #hero {
      text-align: center;
    }
    #hero h1 {
      font-size: 32px;
      line-height: 36px;
    }
    #hero p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
    #hero .social-links a {
        margin-left: 10px;
        margin-right: 10px;
    }
}

section.basic {
    background-color: #302f2f;
    padding: 100px 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

section.basic .container {
    width: 1000px;
}

section.basic .section-title {
    margin-bottom: 30px;
}

section.basic .section-title h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section.basic .section-title hr {
    margin-bottom: 20px;
    border: 0;
    height: 3px;
    background: linear-gradient(to right, #f50057, #d47f9d);
}

section.basic .section-title p a {
    color: #f50057;
}

@media (max-width: 1000px) {
    section.basic .container {
        width: 90vw;
    }
}

/* About */
#about {
    padding-top: 200px;
}

/* Projects */
#projects .container .row {
    display: flex;
    justify-content: space-between;
}

#projects .row .project {
    display: flex;
    flex-direction: column;
    width: 300px !important;
    height: 350px !important;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 5px 5px 8px #000;
}

#projects .project a {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    color: #fff;
    text-decoration: none;
}

.project .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.project .icon, .project .icon img {
    width: 100px;
    height: 100px;
}

.project .icon i {
    position: absolute;
    font-size: 36px;
    color: #f50057;
}

.project .content p {
    margin: 0px 5px;
}

/* Project 1 */
#projects .row .project:nth-child(5n-4) i {
    color: #f25f5c;
}
.project:nth-child(5n-4):hover img {
    filter: invert(42%) sepia(38%) saturate(963%) hue-rotate(313deg) brightness(110%) contrast(90%);
}

/* Project 2 */
#projects .row .project:nth-child(5n-3) i {
    color: #fa7921;
}
.project:nth-child(5n-3):hover img {
    filter: invert(59%) sepia(72%) saturate(3425%) hue-rotate(347deg) brightness(103%) contrast(96%);
}

/* Project 3 */
#projects .row .project:nth-child(5n-2) i {
    color: #fec601;
}
.project:nth-child(5n-2):hover img {
    filter: invert(82%) sepia(58%) saturate(3440%) hue-rotate(2deg) brightness(107%) contrast(99%);

}

/* Project 4 */
#projects .row .project:nth-child(5n-1) i {
    color: #9bc53d;
}
.project:nth-child(5n-1):hover img {
    filter: invert(65%) sepia(12%) saturate(2169%) hue-rotate(37deg) brightness(111%) contrast(80%);
}

/* Project 5 */
#projects .row .project:nth-child(5n) i {
    color: #5bc0eb;
}
.project:nth-child(5n):hover img {
    filter: invert(76%) sepia(5%) saturate(5862%) hue-rotate(167deg) brightness(95%) contrast(93%);
}

.project .content h4 {
    margin-bottom: 20px;
}

.project:hover i {
    color: #dbdbdb !important;
}